## ***Fundamentos de Pandas y Manipulación Básica de Datos***

**Week 3-4 day1-2**

 ***Estructuras de Datos en Pandas: Series y DataFrames***

 **Series:**

Una Serie es un objeto unidimensional similar a un array o lista.<br>
Puedes pensar en ella como una columna en una hoja de cálculo o una columna en una tabla SQL.<br>
Cada elemento en una Serie tiene una etiqueta o índice.<br>

In [5]:
import pandas as pd
import numpy as np

# Crear una Serie
serie_ejemplo = pd.Series([1, 3, 5, np.nan, 6, 8])

print(serie_ejemplo)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

***DataFrames:***

Un DataFrame es una estructura de datos bidimensional con columnas que pueden tener diferentes tipos de datos.<br>
Es similar a una hoja de cálculo o una tabla SQL.<br>
Puedes pensar en un DataFrame como un conjunto de Series que comparten el mismo índice.<br>

In [7]:
# Crear un DataFrame
df_ejemplo = pd.DataFrame({
    'Nombre': ['Alice', 'Bob', 'Charlie', 'David'],
    'Edad': [25, 30, 35, 40],
    'Ciudad': ['NY', 'LA', 'SF', 'Chicago']
})

print (df_ejemplo)

    Nombre  Edad   Ciudad
0    Alice    25       NY
1      Bob    30       LA
2  Charlie    35       SF
3    David    40  Chicago