
### ***Variables, data types and operators in Python***

**Week 1 day 1-2**

Variables in Python:

They are names that store values. <br>
Created using assignment (=). <br>
Can contain numbers, letters, and underscores, but must start with a letter or underscore (starting with a number results in error). <br>
<br>
<br>
Data Types in Python:
<br>
<br>
int: Integer numbers.<br>
float: Decimal numbers.<br>
str: Text strings.<br>
bool: Boolean values (True or False).<br>
list: Ordered and mutable lists [ ].<br>
tuple: Ordered and immutable tuples ( ).<br>
dict: Key-value dictionaries { }.<br>
set: Unordered sets.<br>
<br>
<br>
Operators in Python:
<br>
<br>
Arithmetic Operators: +, -, *, /, //, %, **.<br>
Comparison Operators: ==, !=, <, >, <=, >=.<br>
Logical Operators: and, or, not.<br>
Assignment Operators: =, +=, -=, *=, /=.<br>
Membership Operators: in, not in.<br>
Identity Operators: is, is not.<br>

<br>

#### Exercises

In [4]:
# Declare two variables, a and b, and swap their values without using a third variable.

a = 5
b = 10

a, b = b, a    # In Python, parentheses are not required for tuple packing or unpacking

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

In [9]:
# Calculate the sum, subtraction, multiplication, and division of two numbers.

c = a + b
d = a - b
e = a * b
f = a / b

print("a plus b is ", c)
print("a minus b is ", d)
print("a times b is ", e)
print("a divided by b is ", f)

a plus b is  15
a minus b is  5
a times b is  50
a divided by b is  2.0

In [12]:
# Convert a decimal number to an integer.

decimal = float(a)

print(decimal,type(decimal))

10.0 <class 'float'>

In [15]:
# Convert a string to an integer.

integer = int("5")

print(integer, type(integer))

5 <class 'int'>

In [30]:
# Perform a power operation between two numbers.
a = 10
b = 2
power = a**b

print (a,"power",b,"is =", power)

10 power 2 is = 100

In [20]:
# Declare a boolean variable and perform logical operations (AND, OR, NOT).

Batman = True
Cat_Woman = False

print("Is Batman and Cat Woman loves cats? " ,Batman and Cat_Woman, " Batman is alergic") 
print("Any of Both? " ,Batman or Cat_Woman, " Pretty sure Cat Woman likes them") 
print("But, Batman could spend time with cats for shorts periods of time at least, right? ",not Cat_Woman)

Is Batman and Cat Woman loves cats?  False  Batman is alergic
Any of Both?  True  Pretty sure Cat Woman likes them
But, Batman could spend time with cats for shorts periods of time at least, right?  True

In [21]:
# Calculate the area of a triangle with base and height.

base = 4
height = 6

area = base * height / 2 

print("the area of this triangle is ", area)

the area of this triangle is  12.0

In [26]:
# Convert Celsius to Fahrenheit.

celcius = 24

Fahrenheit = celcius * 9 / 5 + 32

print(celcius,"degree celcius are ", Fahrenheit," Farenheit")

24 degree celcius are  75.2  Farenheit

In [31]:
# Concatenate two strings to form a sentence.

j = "Python is "
r = "easy to learn"

print(j+r)

Python is easy to learn

In [38]:
#Add an element to a list:

Marvel = ['One above all', 'Living tribunal','The Beyonder','Galactus']

Marvel.append("Adam Warlock")

Marvel.append('Goku')

print(Marvel)

# Remove an element from a list: 

Marvel.remove("Goku")

print(Marvel)

['One above all', 'Living tribunal', 'The Beyonder', 'Galactus', 'Adam Warlock', 'Goku']
['One above all', 'Living tribunal', 'The Beyonder', 'Galactus', 'Adam Warlock']

In [20]:
# Declare a dictionary with three key-value pairs and access the value using one of the keys.

my_dict = {'Guitar':1, 'Drums':5,'Bass': 5,'Powerful Voice': 'Ronnie James Dio'}

# Select a value from a dictionary

print('Vocalist like', my_dict['Powerful Voice'])

# Use the len() function to get the length of a string:

print(len(my_dict))
print(len('Color'))

Vocalist like Ronnie James Dio
4
5